:root {
    --font-1: "Imperial Script", cursive;
    --font-2: "Cormorant Infant", serif;
    --color-text: SteelBlue;
}


body {
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    text-align: center;
    background-color: white;
}
#envelope {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    perspective: 1000px;
    z-index: 10;
}
#envelope:hover {
    transform: scale(1.05);
}
/* Parte superior del sobre (solapa) */
#envelope-top {
    top: 0;
    border-bottom: none;
}
/* Parte inferior del sobre (cuerpo) */
#envelope-bottom {
    bottom: 0;
    border-top: none;
}
#envelope-top, #envelope-bottom {
    position: absolute;
    width: 100%;
    height: 50%;
    transition: transform 0.5s ease-in-out, opacity 0.5s ease-in-out;
    background-image: url(/imagenes/sobre.png);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.216);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}
/* Sello del sobre */
#seal {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 180px;
    height: 180px;
    background: 	SteelBlue;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.216);
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    transition: opacity 1s ease-in-out;
    z-index: 11;
}
#seal h2 {
    margin: 0;
    font-size: 32px;
    font-family: var(--font-1);
    font-weight: 400;
    font-style: italic;
    background: linear-gradient(to right, #b29a68, #d4af37, #ffd700, #d4af37, #b29a68);
    -webkit-background-clip: text;
    color: transparent;
    animation: shine 1.5s infinite linear;
}
#invitacion {
    display: none;
    background: transparent;
    max-width: 800px;
    width: 100%;
    box-sizing: border-box;
}
.section , .section-playlist, .section-filter, .section-quote{
    padding: 0;
    transform: translateY(20px);
    animation: fadeIn var(--scroll-animation-duration) ease-in forwards;
}
.section h1{
    font-family: var(--font-1);
    padding: 15px;
    font-weight: 400;
    font-style: italic;
    font-size: 40px;
    margin-top: -10px;
    margin-bottom: -10px;
    color: steelblue;
}
.section-filter, .section-playlist{
    background-color: #fffbf7;
}
.section-main {
    position: relative;
    margin: 0;
    padding: 0;
    transform: translateY(20px);
    animation: fadeIn var(--scroll-animation-duration) ease-in forwards;
}
.section-main img {
    width: 100%;
    height: auto;
}
.overlay-text {
    position: absolute;
    top: 50%; /* centra verticalmente */
    left: 50%; /* centra horizontalmente */
    transform: translate(-50%, -50%);
    text-align: center;
    color: white;
    text-shadow: 0 2px 4px rgba(0,0,0,0.6);
  }
  
  .overlay-text h1 {
    position: absolute;
    left: 50%;
    transform: translate(-50%, -50%);
    text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3);
    margin: 0;
    font-family: var(--font-1);
    font-weight: 400;
    font-style: italic;
    font-size: 40px;
    white-space: nowrap;
    margin-top: 180px;
    background: linear-gradient(to right, #7ec8e3, #a2d5f2, #cdefff, #a2d5f2, #7ec8e3);
    -webkit-background-clip: text;
    color: transparent;
    animation: shine 1.5s infinite linear;
    padding: 10px;
  }
  .overlay-text h2 {
    position: absolute;
    left: 50%;
    transform: translate(-50%, -50%);
    text-shadow: 2px 2px 1px rgba(0, 0, 0, 0.2);
    margin: 0;
    font-family: var(--font-1);
    font-weight: 400;
    font-style: italic;
    font-size: 45px;
    white-space: nowrap;
    margin-top: 220px;
    background: linear-gradient(to right, #7ec8e3, #a2d5f2, #cdefff, #a2d5f2, #7ec8e3);
    -webkit-background-clip: text;
    color: transparent;
    animation: shine 1.5s infinite linear;
    padding: 10px;
  }
.section-quote h1 {
    font-family: var(--font-1);
    font-weight: 400;
    font-style: italic;
    font-size: 30px;
    padding: 15px;
    margin: 0;
    background: linear-gradient(to right, #b29a68, #d4af37, #ffd700, #d4af37, #b29a68);
    -webkit-background-clip: text;
    color: transparent;
    animation: shine 1.5s infinite linear;
}
.section-music{
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    box-sizing: border-box;
    margin-top: 0px;
    margin-bottom: 10px;
}
.section-music h2{
    background: linear-gradient(to right, #b29a68, #d4af37, #ffd700, #d4af37, #b29a68);
    -webkit-background-clip: text;
    color: transparent;
    animation: shine 1.5s infinite linear;
    font-family: var(--font-2);
    font-size: 20px;
    font-weight: 400;
    font-style: italic;
}
.section-countdown {
    margin: 0;
    padding: 0;
    transform: translateY(20px);
    animation: fadeIn var(--scroll-animation-duration) ease-in forwards;
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: -90px;
}
.section-countdown h1 {
    background: linear-gradient(to right, #b29a68, #d4af37, #ffd700, #d4af37, #b29a68);
    -webkit-background-clip: text;
    color: transparent;
    animation: shine 1.5s infinite linear;
    text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.1);
    font-family: var(--font-1);
    font-size: 50px;
    font-weight: 400;
    font-style: italic;
    padding: 10px;
    margin: 0;
}
.section-countdown p {
    margin: 0;
    background: linear-gradient(to right, #b29a68, #d4af37, #ffd700, #d4af37, #b29a68);
    -webkit-background-clip: text;
    color: transparent;
    animation: shine 1.5s infinite linear;
    font-family: var(--font-2);
    font-weight: 400;
    font-style: italic;
    font-size:25px;
    padding: 7px;
}
.section-countdown h2 {
    background: linear-gradient(to right, #b29a68, #d4af37, #ffd700, #d4af37, #b29a68);
    -webkit-background-clip: text;
    color: transparent;
    animation: shine 1.5s infinite linear;
    text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.1);
    font-family: var(--font-2);
    font-size: 25px;
    font-weight: 400;
    font-style: italic;
    padding: 5px;
    margin: 0;
}
#contador{
    display: flex;
    gap: 15px;
    justify-content: center;
    margin-top: 20px;
    padding: 0;
}
.countdown-circle {
    width: 75px;
    height: 75px;
    background:rgba(192, 223, 248, 0.326);
    border-radius: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.2);
}
.countdown-circle span {
    font-size: 1em;
    background: linear-gradient(to right, #b29a68, #d4af37, #ffd700, #d4af37, #b29a68);
    -webkit-background-clip: text;
    color: transparent;
    animation: shine 1.5s infinite linear;
    font-weight: 400;
    padding: 0;
    font-family: var(--font-2);
    font-style: italic;
}
.section-calendar {
    padding: 10px;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.2);
    width: 180px;
    height: auto;
    margin-top: 20px;
    margin-bottom: 20px;
    border-radius: 10px;
    background-color: rgba(192, 223, 248, 0.458);
    cursor: pointer;
}
.section-calendar a {
    text-decoration: none;
    font-family: var(--font-2);
    font-style: italic;
    font-size: 1.2em;
    background: linear-gradient(to right, #b29a68, #d4af37, #ffd700, #d4af37, #b29a68);
    -webkit-background-clip: text;
    color: transparent;
    animation: shine 1.5s infinite linear;
}
.section-calendar:hover {
    background-color: rgba(86, 130, 167, 0.893);
}
.section-b{
    position: relative;
    width: 100%;
    height: 200px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}
.section-cerezo-0{
    position: relative;
    width: 100%;
    height: 280px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    margin-top: -10px;
    z-index: 2;
}
.section-cerezo-0::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url('/imagenes/flores.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    z-index: -1;
}
.section-cerezo-1{
    position: relative;
    width: 100%;
    height: 280px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}
.section-cerezo-1::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url('/imagenes/132.svg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    z-index: -1;
}
.section-cerezo-2{
    position: relative;
    width: 100%;
    height: 280px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}
.section-cerezo-2::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url('/imagenes/133.svg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    z-index: -1;
}
.section-cerezo-3{
    position: relative;
    width: 100%;
    height: 280px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}
.section-cerezo-3::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url('/imagenes/134.svg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    z-index: -1;
}
.section-b p{
    font-family: var(--font-2);
    font-style: italic;
    font-weight: 400;
    font-size: 28px;
    margin: 0;
    color: steelblue;
}
.section-playlist p {
    font-family: var(--font-2);
    font-style: italic;
    font-weight: 400;
    font-size: 28px;
    color: steelblue;
}
.section-b h1, .section-b h2, .section-b h3{
    font-family: var(--font-1);
    padding: 15px;
    font-weight: 400;
    font-style: italic;
    font-size: 40px;
    margin-top: -10px;
    margin-bottom: -10px;
    background: linear-gradient(to right, #b29a68, #d4af37, #ffd700, #d4af37, #b29a68);
    -webkit-background-clip: text;
    color: transparent;
    animation: shine 1.5s infinite linear;
}
.section h2, .section-playlist h2, .section-gifts h2, .section h3, .section-filter h2, .section-filter h3{
    font-family: var(--font-1);
    padding: 10px;
    font-weight: 400;
    font-style: italic;
    font-size: 40px;
    margin-top: 20px;
    margin-bottom: 10px;
    background: linear-gradient(to right, #b29a68, #d4af37, #ffd700, #d4af37, #b29a68);
    -webkit-background-clip: text;
    color: transparent;
    animation: shine 1.5s infinite linear;
}
.section p, .section-gifts p, .section-filter p{
    font-family: var(--font-2);
    font-style: italic;
    font-weight: 400;
    font-size: 24px;
    padding: 5px;
    margin: 0;
    color: steelblue;
}
.section span{
    font-family: var(--font-2);
    font-style: normal;
    font-weight: 400;
    font-size: 1.2em;
    color: SteelBlue;
    padding: 0;
    margin: 0;
}
.icon {
    padding: 0;
    margin: 0;
}
.icon img {
    width: 50%;
    margin-top: -20px;
    margin-bottom: -20px;
}
.galeria {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 15px;
    margin: 20px;
}
.galeria img {
    width: 150px;
    height: 150px;
    object-fit: cover;
    border-radius: 10px;
    transition: transform 0.3s;
}
.galeria img:hover {
    transform: scale(1.1);
}
.photo-modal {
    display: none;
    position: fixed;
    z-index: 1000;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.8);
    justify-content: center;
    align-items: center;
}
.photo-modal img {
    max-width: 80%;
    max-height: 80%;
    margin: auto;
    display: block;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5);
    border-radius: 5px;
}
.close {
    position: absolute;
    top: 20px;
    right: 40px;
    color: #fff;
    font-size: 40px;
    font-weight: bold;
    cursor: pointer;
}
.close:hover,
.close:focus {
    color: steelblue;
    text-decoration: none;
    cursor: pointer;
}
button {
    background-color: lightsteelblue;
    color: #fff;
    border-radius: 5px;
    font-family: var(--font-2);
    padding: 10px;
    transition: background-color 0.3s;
    border: none;
    font-size: 1em;
    text-transform: none;
    margin-bottom: 20px;
    font-style: italic;
    font-size: 1.2em;
    margin-top: 10px;
}
button:hover {
    background-color: steelblue;
}
footer {
    padding: 20px;
    background: lightsteelblue;
    color: white;
    font-size: var(--footer-font-size);
    width: 100%;
    box-sizing: border-box;
}
.section-social-icons {
    padding: 20px;
}
.section-social-icons a {
    color: white;
    margin: 0 10px;
    text-decoration:none;
}
.section-social-icons i{
    font-size: 35px;
}
.section-logo img{
    margin-top: 0px;
}
/* Media Queries */
@media (min-width: 768px) and (max-width: 1024px) {
    /* iPad Styles */
    .seal{
        width: 200px;
        height: 200px;
        }
    .sealh h2{
            font-size: 60px;
        }
    .section-music{
        margin-top: -90px;
        height: 500px;
    }
    .section-main h1, .section-main h2 {
        font-size: 3em;
    }

    .section-countdown h1,
    .section-countdown h2,
    .section-b h1,
    h1,
    .section h2,
    .section h3 {
        font-size: 2.5em;
    }

    .section p,
    .section-countdown p,
    .section-calendar a {
        font-size: 1.5em;
    }
}
@media (min-width: 1025px) {
    /* Laptop Styles */
    .seal{
    width: 200px;
    height: 200px;
    }
    .sealh h2{
        font-size: 60px;
    }
    .sintillo{
        height: 500px;
        margin-bottom: -80px;
    }
    .sintillo h1{
        font-size: 120px;
        margin-top: 10px;
    }
    .sintillo h2{
        font-size: 150px;
        margin-top: 280px;
    }
    .section-music{
        margin-top: -90px;
        height: 500px;
    }
    .section-music h2{
        font-size: 50px;
    }
    .section-countdown h1,
    .section-countdown h2,
    .section-b h1,
    h1,
    .section h2,
    .section h3 {
        font-size: 3em;
    }
    .section p,
    .section-countdown p,
    .section-calendar a, .section-b p{
        font-size: 1.8em;
    }
    .countdown-circle{
        height: 180px;
        width: 180px;
    }
    .countdown-circle span{
        font-size: 50px;
    }
    .section-quote{
        padding: 10px;
    }
    .section-social-icons i{
        font-size: 55px;
        margin-top: 10px;
    }
    .section-logo img{
        margin-top: 0px;
    }
}
.fade-in-element {
    opacity: 0;
    transform: translateY(20px);
    transition: all 1s ease-in-out;
}
.fade-in-element.visible {
    opacity: 1;
    transform: translateY(0);
}

#buenos-deseos form {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    margin-bottom: 20px;
    }
    #buenos-deseos input,
    #buenos-deseos textarea {
    width: 80%;
    padding: 10px;
    border-radius: 8px;
    border: 1px solid lightgray;
    font-family: var(--font-2);
    font-size: 1em;
    }
    #wishes-container {
    width: 80%;
    margin: auto;
    padding: 10px;
    background: rgba(248, 248, 248, 0.6);
    border-radius: 10px;
    max-height: 300px;
    overflow-y: auto;
    transition: all 0.3s ease-in-out;
    }
    #wishes-container.hidden {
    display: none;
    }
    #wishes-container.visible {
    display: block;
    }
    #wishes-container p {
    font-family: var(--font-2);
    font-style: italic;
    color: steelblue;
    text-align: left;
    margin: 10px 0;
    font-size: 18px;
    }